
<form>
  <input type="text" placeholder="Enter event name" [(ngModel)]="newEvent.eventName" name="eventName" /><br />
  <input type="text" placeholder="Enter event date" [(ngModel)]="newEvent.eventDate" name="eventDate" /><br />
  <input type="text" placeholder="Enter event description" [(ngModel)]="newEvent.eventDescription" name="eventDescription" /><br />
  <input type="text" placeholder="Enter event city" [(ngModel)]="newEvent.eventCity" name="eventCity" /><br />
  <input type="text" placeholder="Enter event state" [(ngModel)]="newEvent.eventState" name="eventState" /><br />

  <button type="submit" (click)="submitEvent()">Submit</button>
</form>

